/build
/dist
*.ico
*.log
*.spec
*.db
pdf_extractor_final (1).py
pdf_extractor_final.py
pdf_extractor_final1.py
pdf_extractor_finalV4.py
pdf_extractor_finalV5.py
pdf_extractor_finalV6.py
pdf_extractor_finalV7.py
pdf_extractor_finalV8.py
pdf_extractor_finalV9.py